[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
argparse = "*"
sqlalchemy = "*"
instagram-private-api = {git = "https://git@github.com/ping/instagram_private_api.git"}
mysqlclient = "*"
pylint = "*"
datetime = "*"


[dev-packages]

ipdb = "*"


[requires]

python_version = "3.6"
